name: CI/CD Pipeline

on:
  push:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      # Checkout the code
      - name: Checkout code
        uses: actions/checkout@v3

  deploy:
    runs-on: ubuntu-latest
    needs: build # Only runs after the 'build' job has completed

    steps:
      # Checkout the code again (if not cached)
      - name: Checkout code
        uses: actions/checkout@v3

      # Install Ansible and sshpass
      - name: Install Ansible
        run: |
          sudo apt update
          sudo apt install -y ansible sshpass

      # Deploy the html and css files using Ansible
      - name: Deploy with Ansible
        run: |
          chmod 400 networks.pem
          ansible-playbook -i inventory.ini ansible-playbook.yml
